<mat-tab-group class="tabs-list" *ngIf="isConnected">
  <mat-tab label="Genes">
    <crng-upload-genes></crng-upload-genes>
  </mat-tab>
  <mat-tab label="Proteins">
    <crng-upload-proteins></crng-upload-proteins>
  </mat-tab>
  <mat-tab label="Domains">
    <crng-upload-domains></crng-upload-domains>
  </mat-tab>
  <mat-tab label="Localizations">
    <crng-upload-localizations></crng-upload-localizations>
  </mat-tab>
  <mat-tab label="Pathway">
    <crng-upload-pathways></crng-upload-pathways>
  </mat-tab>
  <mat-tab label="Aliases">
    <crng-upload-tags></crng-upload-tags>
  </mat-tab>
</mat-tab-group>
