@import 'mixins/index';

:host {
  width: 100%;
}

.nav {
  display: flex;
  gap: 2em;
  color: #fff;
  background: $primary;
  height: auto;
}

.menu,
.dropdown {
  font-size: 14px;
  font-weight: normal;
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 1em;

  > li {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 5em;
    position: relative;
    cursor: pointer;
    text-align: center;

    a {
      padding: 0 1em;
      width: 100%;
      display: block;
    }

    > a {
      padding: 0.33em 1em;
    }

    &:hover {
      color: #fff;
      background: $accent;
      .dropdown {
        display: flex;
        opacity: 1;
      }
    }
  }
}

.dropdown {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;

  background: $accent;
  text-align: left;
  min-width: 10em;
  width: 100%;
  color: #fff;

  > li {
    &:hover {
      background: $dark-gray;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
