node_modules
logs
doc
public
client
npm-debug.log
Dockerfile*
docker-compose*
.vscode
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
src
**/*.ts
**/*.map
**/*.spec.js
tslint.json
README.md
LICENSE
deploy.sh
