:host {
  padding: 20px 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  height: calc(100vh - 160px);
}

.progress {
  width: 100%;
  .title {
    font-weight: bold;
  }
}

.parse-error {
  padding: 1em;
  background-color: var(--color-warn);
  color: var(--color-white);
}

.logs {
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

.log {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 1em;
  white-space: nowrap;

  &:before {
    content: '';
    display: inline;
    width: 4px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-primary);
  }

  &.error {
    &:before {
      background-color: var(--color-warn);
    }
  }
}
