<button
  type="button"
  class="btn btn-menu"
  mat-raised-button=""
  color="primary"
  [disabled]="disabled"
  (menuOpened)="onMenuOpened()"
  (menuClosed)="onMenuClosed()"
  [matMenuTriggerFor]="multiSelectMenu"
>
  Columns
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #multiSelectMenu="matMenu">
  <ng-template matMenuContent="">
    <div class="menu-scroll">
      <div mat-menu-item="" *ngFor="let item of items; trackBy: identify">
        <mat-checkbox
          [checked]="selectedSet.has(item.id)"
          (change)="clickOnItem(item)"
          [disabled]="selectedSet.has(item.id) && selectedSet.size <= 1"
          class="checkbox full-h full-w"
        >
          {{ item.dropdownItemName }}
        </mat-checkbox>
      </div>
    </div>
  </ng-template>
</mat-menu>
