<button
  type="button"
  class="btn btn-menu"
  mat-raised-button=""
  color="primary"
  [disabled]="disabled"
  (menuOpened)="onMenuOpened()"
  (menuClosed)="onMenuClosed()"
  [matMenuTriggerFor]="multiSelectMenu"
>
  Columns
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #multiSelectMenu="matMenu">
  <ng-template matMenuContent="">
    <div class="menu-search mat-menu-item">
      <mat-icon class="icon-search">search</mat-icon>
      <input type="text" class="input" #searchInput (click)="$event.stopPropagation()" [placeholder]="searchPlaceholder" [formControl]="searchControl" />
    </div>

    <div class="menu-scroll" (click)="$event.stopPropagation()">
      <div class="mat-menu-item" *ngFor="let item of filteredItems | async | slice: 0:100; trackBy: identify">
        <mat-checkbox [checked]="selectedSet.has(item.id)" (change)="clickOnItem(item)" class="dd-checkbox">
          {{ item.dropdownItemName }}
        </mat-checkbox>
      </div>
    </div>

    <div class="dropdown-footer">
      <button (click)="applyDefault()" mat-button="" type="button" class="btn btn-cancel">Set deafult</button>
      <button (click)="applySelected()" mat-raised-button="" color="primary" type="button" class="btn btn-apply">Apply</button>
    </div>
  </ng-template>
</mat-menu>
