.mat-checkbox {
  &.dd-checkbox {
    width: 100%;
    height: 100%;
    color: var(--color-black);

    .mat-checkbox-layout {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      gap: 0.5em;
      .mat-checkbox-inner-container {
        margin: 0;
      }
      .mat-checkbox-label {
        @extend %ellipsis;
      }
    }
  }
}
